.top-news {
  .top-news__loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
  }

  .top-news__card-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;

    .top-news__card {
      width: 300px;
      margin: 10px;
      margin-left: 0;

      .ant-card-body {
        height: 150px;
      }

      .ant-card-meta-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
      }
    }
  }
}
