.top-news {
  .top-news__problems-container,
  .top-news__loader-container,
  .top-news__empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
  }

  .top-news__card-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;

    .top-news__card {
      width: 255px;
      margin: 10px;
      margin-left: 0;

      .ant-card-body {
        height: 125px;
      }

      .ant-card-meta-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
    }
  }
}

@media screen and (max-width: 1236px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 250px;
      }
    }
  }
}

@media screen and (max-width: 1196px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 240px;
      }
    }
  }
}
@media screen and (max-width: 1156px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 230px;
      }
    }
  }
}
@media screen and (max-width: 1116px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 220px;
      }
    }
  }
}
@media screen and (max-width: 1076px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 290px;
      }
    }
  }
}
@media screen and (max-width: 1056px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 280px;
      }
    }
  }
}
@media screen and (max-width: 1026px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 270px;
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 260px;
      }
    }
  }
}
@media screen and (max-width: 966px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 250px;
      }
    }
  }
}
@media screen and (max-width: 936px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 240px;
      }
    }
  }
}
@media screen and (max-width: 906px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 230px;
      }
    }
  }
}
@media screen and (max-width: 876px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 220px;
      }
    }
  }
}
@media screen and (max-width: 846px) {
  .top-news {
    .top-news__card-container {
      .top-news__card {
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 756px) {
  .top-news {
    .top-news__card-container {
      justify-content: center;

      .top-news__card {
        width: 330px;
      }
    }
  }
}
@media screen and (max-width: 692px) {
  .top-news {
    padding-left: 30px;
  }
}
