.sider {
  margin-top: 60px;
  background-image: linear-gradient(
    to right bottom,
    rgba(#7ed56f, 0.8),
    rgba(#28b485, 0.8)
  ) !important;

  .active-link {
    color: #ffb900 !important;
  }

  .sider-nav {
    background-color: transparent !important;
    margin-top: 50px;

    li {
      border-left: 4px solid transparent;
    }

    li:hover,
    li:active,
    .ant-menu-item-selected {
      border-left: 4px solid #ffb900;
      background: transparent !important;
      color: #fff !important;
      transition: all 0.3s;
    }

    .sider-nav-top-news-fixed,
    .sider-nav-categories-fixed {
      a {
        position: fixed;
      }
    }

    li a:hover {
      background: transparent;
      color: #ffb900 !important;
    }
  }
}

@media screen and (min-width: 992px) {
  .sider {
    display: none;
  }
}

@media screen and (max-width: 692px) {
  .sider-not-collapsed {
    min-width: 100% !important;
  }
}
