.header {
  position: fixed;
  width: 100%;
  height: 67px;
  z-index: 1;
  min-width: 400px;
  background-image: linear-gradient(
    to right bottom,
    rgba(#7ed56f, 0.8),
    rgba(#28b485, 0.8)
  ) !important;

  .active-link {
    color: #ffb900 !important;
  }

  .header__nav,
  .header__country-select {
    background-color: transparent !important;

    li:hover,
    li:active,
    .ant-menu-item-selected {
      background: transparent !important;
      color: #ffb900 !important;
    }

    li a:hover {
      background: transparent;
      color: #ffb900 !important;
    }

    .header__nav-search {
      color: rgba(255, 255, 255, 0.65);

      .ant-menu-item-selected {
        &:hover {
          background: transparent;
          color: #ffb900;
        }
      }
    }
  }

  .header__nav--search-bar--container {
    display: flex;
    align-items: center;
    max-width: 500px;

    .ant-input-search-button {
      background-image: linear-gradient(
        to right bottom,
        rgba(#ffb900, 0.8),
        rgba(#ff7730, 0.8)
      ) !important;
      border: none;
    }

    .ant-input-affix-wrapper-focused {
      border-color: #ffb900;
    }

    .ant-input-affix-wrapper {
      &:hover {
        border-color: #ffb900;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header {
    .header__nav {
      display: none;
    }
  }
}

@media screen and (max-width: 643px) {
  .header {
    padding: 0;
  }
}
