.layout {
  min-height: 100vh;
  min-width: 400px;

  .trigger {
    font-size: 25px;
    margin-top: 20px;
    padding-left: 18px;
    color: rgba(255, 255, 255, 0.65);
  
    &:hover {
      transition: 0.3s;
      color: #ffb900;
    }
  }

  .site-layout-content {
    padding: 0 70px;
    margin-top: 80px;
  }
}

@media screen and (min-width: 992px) {
  .layout {
    .trigger {
      display: none;
    }
  }
}

@media screen and (max-width: 692px) {
  .sider-not-collapsed {
    min-width: 100% !important;
  }

  .layout {
    .site-layout-content {
      padding: 0px;
    }
  }
}
