.layout {
  height: 100vh;

  .layout__header {
    display: flex;
    justify-content: space-between;

    .layout__header-nav,
    .layout__header-country-select {
      li:hover,
      li:active,
      .ant-menu-item-selected {
        background: transparent;
        color: #1890ff;
      }
    }

    .layout__header-nav-search-bar {
        
    }
  }
}
