.layout {
  height: 100vh;

  .layout__header {
    position: fixed;
    right: 0;
    left: 0;
    display: inherit;

    .layout__header-nav {
      width: 25%;
    }

    .layout__header-nav-search-bar-container {
      width: 50%;
    }

    .layout__header-country-select {
      float: right;
      width: 25%;

      li {
        float: right;
      }
    }

    .active-link {
      color: #1890ff;
    }

    .layout__header-nav,
    .layout__header-country-select {
      li:hover,
      li:active,
      .ant-menu-item-selected {
        background: transparent;
        color: #1890ff;
      }

      li a:hover {
        background: transparent;
        color: #1890ff !important;
      }

      .layout__header-nav-search {
        color: rgba(255, 255, 255, 0.65);

        .ant-menu-item-selected {
          &:hover {
            background: transparent;
            color: #1890ff;
          }
        }
      }
    }

    .layout__header-nav-search-bar-container {
      display: flex;
      align-items: center;

      .layout__header-nav-search-bar {
      }
    }
  }
}
