.category__card-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;

  .category__card {
    width: 250px;
    margin: 10px;
    margin-left: 0;

    .ant-card-body {
      height: 125px;
    }

    .ant-card-meta-description {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}
